{% extends "base.html" %}

{% block page_name %}Recipe Detail{% endblock %}

{% block content %}
	<a href="{% url 'recipe_list' %}">Return to Recipe List</a>
	
	<h3>{{ recipe.name }}</h3>
	<p><b>By:</b> {{ recipe.author.profile.name }}</p>
	
	{% for image in recipe.images.all %}
		<img src="{{ image.image.url }}" alt="{{ image.description }}" width="200">
	{% empty %}
		<p><i>No images uploaded.</i></p>
	{% endfor %}
	
	<h3>Ingredients List</h3>
	<ul>
		{% for ingredient in recipe.ingredients.all %}
			<li>{{ ingredient.ingredient.name }} ({{ ingredient.quantity }})</li>
		{% empty %}
			<li><i>No ingredients found.</i></li>
		{% endfor %}
	</ul>
	
	<p><b>Created on:</b> {{ recipe.created_on }} UTC</p>
	<p><b>Last Updated on:</b> {{ recipe.updated_on }} UTC</p>
	<p><a href="{% url 'recipe_image_add' recipe.id %}">Upload New Image</a></p>
	
{% endblock %}